.dialog{
  height: 450px;
  overflow-y: scroll;
}
.col-form-label{
  font-weight: 600;
}
small{
  color: rgb(105, 105, 105);
}
td a{
  cursor: pointer;
}
td img{
  height: 70px;
  width: 70px;
  border-radius: 0;
}
.nothing{
  text-align: center;
  font-size: 24px;
  padding: 50px 0;
}
thead tr th{
  background-color: rgba(33, 148, 163, 0.555);
  color:rgb(32, 32, 32);
  padding-top: 10px;
  padding-bottom: 10px;
}
