mat-error{
  font-size: 15px;
}
.error{
  min-height: 23px !important;
}
form#login {
  margin-top: -100px;
  background-color: #fff;
}
p#account {
  font-size: 15px;
  position: relative;
  top: -33px;
}

div.error {
  font-size: 23px;
  color: red;
}
form .row {
  position: relative;
  left: 170px;
}
.form {
  width: 50rem;
  margin: 5rem auto;
  text-align: center;
  border-radius: 1.5rem;
  border: 1px solid #eee;
  box-shadow: 0 1rem 3rem 0.03rem rgba(0, 0, 0, 0.1);
  font-family: "Balsamiq Sans", cursive;
}
.form__heading {
  font-size: 3.6rem;
  padding: 5rem 0;
  color: #2ecc71;
}
.form__group {
  padding-bottom: 1rem;
  position: relative;
}
.form__input {
  width: 25ch;
  color: #aaa;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  font-size: 1.6rem;
}
.form__input::placeholder {
  color: #ccc;
}

.btn {
  margin: 0 auto;
  margin-bottom: 6rem;
  border: none;
  color: #fff;
  font-size: 1.9rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.btn--large {
  border-radius: 25px;
  padding: 10px 35px 10px 40px;
}

.btn--green {
  background-color: #2ecc71;
  color: white;
}
.btn--green:hover {
  background-color: #28b062;
}
.btn--green:active {
  background-color: #2ecc71;
  outline: none;
}
#checkbox{
  margin-right: 15px;
}
