<app-header></app-header>

<form class="form" id="login" [formGroup]="formGroup" >
    <h1 class="form__heading">Welcome</h1>
    <div class="form__group">
      <input matInput type="email" id="email"  class="form__input" placeholder="email address" formControlName="email">

       <div class="error">
      <mat-error  *ngIf="formGroup.controls['email'].hasError('email') && !formGroup.controls['email'].hasError('required')&& formGroup.controls['email'].touched">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="formGroup.controls['email'].hasError('required') &&formGroup.controls['email'].touched">
        Email is required
    </mat-error>
   </div>
    </div>
    <div class="form__group">
      <input matInput type="password" autocomplete="false" id="password" class="form__input" placeholder="password" formControlName="password">
     <div class="error">
      <mat-error *ngIf="formGroup.controls['password'].hasError('minlength') && !formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched">
        Please enter strong password
      </mat-error>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched">
        password is required
    </mat-error>
    </div>
    </div>
    <div class="level options">

        <div class="">
          <label for="checkbox" style="font-size: 15px;" >Remember me</label>
          <input type="checkbox" id="checkbox" (click)="remember()">
        </div>

      </div>
      <br>
    <button class="btn btn--large btn--green" form_id="login" type="submit" formaction="#" [disabled]="!formGroup.controls['password'].valid && !formGroup.controls['email'].valid" (click)="submit()" >
      Login
      <!-- <ion-icon class="btn__icon" name="arrow-forward-outline"></ion-icon> -->
    </button>


    <p id="account" style="cursor:pointer; text-align: center;" [routerLink]="['/security/register']" >Create new Account </p>
  </form>

  <app-footer></app-footer>

