<app-header></app-header>
<div class="tg-haslayout">
  <div class=" tg-innerbanner tg-bginnerbanner view jarallax"
    style="background-image: url(http://exprostudio.com/html/book_library/images/parallax/bgparallax-07.jpg);">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-innerbannercontent">
          <h1>Register</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container fform">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 form">
        <h1 class="page-headera">Sign up</h1>
        <div class="light-well">
          <div class="panel-body">
            <div class="row">
              <form [formGroup]="registerGroup">
                <div class="col-sm-8 col-sm-offset-2">
                  <br />
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input placeholder="first name" class="form-control" type="text" formControlName="first_Name">
                        <mat-error
                          *ngIf="registerGroup.controls['first_Name'].hasError('required') &&registerGroup.controls['first_Name'].touched ">
                          First name is required
                        </mat-error>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input placeholder="last name" class="form-control" type="text" formControlName="last_Name">
                        <mat-error
                          *ngIf="registerGroup.controls['last_Name'].hasError('required')&& registerGroup.controls['last_Name'].touched ">
                          Last name is required
                        </mat-error>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input placeholder="Username" class="form-control" type="text" formControlName="username">
                    <mat-error
                      *ngIf="registerGroup.controls['username'].hasError('required') && registerGroup.controls['username'].touched ">
                      Username is required
                    </mat-error>
                  </div>
                  <div class="form-group">
                    <input placeholder="email address" class="form-control" type="email" formControlName="email">
                    <mat-error
                      *ngIf="registerGroup.controls['email'].hasError('email') && !registerGroup.controls['email'].hasError('required')&& registerGroup.controls['email'].touched ">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error
                      *ngIf="registerGroup.controls['email'].hasError('required') && registerGroup.controls['email'].touched ">
                      Email is required
                    </mat-error>
                  </div>
                  <div class="form-group">
                    <input placeholder="Phone number" class="form-control" type="tel" formControlName="phone">
                    <mat-error
                      *ngIf="registerGroup.controls['phone'].hasError('minlength') && !registerGroup.controls['phone'].hasError('required')&&registerGroup.controls['phone'].touched">
                      Please enter a valid phone number
                    </mat-error>
                    <mat-error
                      *ngIf="registerGroup.controls['phone'].hasError('required') && registerGroup.controls['phone'].touched">
                      phone is required
                    </mat-error>
                  </div>

                  <div class="form-group">
                    <input placeholder="password" class="form-control" type="password" formControlName="password">
                    <mat-error
                      *ngIf="registerGroup.controls['password'].hasError('minlength') && !registerGroup.controls['password'].hasError('required')&&registerGroup.controls['password'].touched">
                      Please enter strong password
                    </mat-error>
                    <mat-error
                      *ngIf="registerGroup.controls['password'].hasError('required') && registerGroup.controls['password'].touched">
                      password is required
                    </mat-error>
                  </div>
                  <div class="form-group">
                    <input placeholder="re-type your password" class="form-control" type="password" (click)="onChange()"
                      id="user_password_confirmation" formControlName="ConfirmPassword">
                    <mat-error
                      *ngIf="(registerGroup.controls['ConfirmPassword'].value != registerGroup.controls['password'].value) &&registerGroup.controls['ConfirmPassword'].touched">
                      confirm password must match with password
                    </mat-error>
                  </div>
                  <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input class="form-control" type="date" formControlName="birthday">
                    <mat-error
                      *ngIf="registerGroup.controls['birthday'].hasError('required')&& registerGroup.controls['birthday'].touched ">
                      Birthday is required
                    </mat-error>
                  </div>
                  <div class="form-group">
                    <button [disabled]="!registerGroup.valid" type="submit"
                      class="btn btn-success btn-lg btn-block col-6" (click)="register()">Create account</button>
                  </div>
                  <div class="form-group" style="font-size: 16px; font-weight: 500;">
                    Already a member? <a class="log" [routerLink]="['/security/login']">Log in</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
