<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" style="background-image: url(http://exprostudio.com/html/book_library/images/parallax/bgparallax-07.jpg);background-position: top;background-attachment: fixed;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-innerbannercontent">
							<h1>About Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<main id="tg-main" class="tg-main tg-haslayout">
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-aboutus">
							<div class="col-xs-12 col-sm-12">
								<div class="tg-aboutusshortcode">
									<div class="tg-sectionhead">
										<h2><span>Greetings &amp; Welcome</span>Know More About Us</h2>
									</div>
									<div class="tg-description">

                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, delectus perferendis eius consequuntur quae hic cupiditate autem aspernatur quam incidunt animi ipsum? Voluptates aspernatur deserunt nobis ipsum accusantium voluptatibus repellendus distinctio explicabo corrupti eligendi voluptas nesciunt minima soluta, delectus non et cupiditate obcaecati quas cum! Nostrum eligendi explicabo nesciunt deserunt.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
