<header id="tg-header" class="tg-header tg-headervtwo tg-haslayout" >
    <div class="tg-middlecontainer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <strong class="tg-logo"><a [routerLink]="['home']"><img
                  src="http://exprostudio.com/html/book_library/images/logo.png" alt="company name here"></a></strong>
            <div class="tg-searchbox">
              <form class="tg-formtheme tg-formsearch">
                <fieldset>
                  <input type="text" name="search" class="typeahead form-control"
                    placeholder="Search by title, author, keyword, ISBN...">
                  <button type="submit" class="tg-btn">Search</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tg-navigationarea" id="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-navigationholder" >
              <nav id="tg-nav" class="tg-nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#tg-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                  <ul>
                    <li></li>
                    <li class="menu-item-has-children" routerLinkActive="current-menu-item">
                      <a [routerLink]="['/home']" >Home</a>
                    </li>
                    <li class="menu-item-has-children" routerLinkActive="current-menu-item">
                      <a [routerLink]="['/about']">About</a>
                    </li>
                    <li><a [routerLink]="['/books']" routerLinkActive="current-menu-item">Books</a></li>
                    <li routerLinkActive="current-menu-item"><a [routerLink]="['/contact']" >Contact</a></li>
                  </ul>
                </div>
              </nav>
              <div class="tg-wishlistandcart">
                <div class="dropdown tg-themedropdown tg-minicartdropdown ">
                  <a href="javascript:void(0);" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="tg-themebadge">3</span>
                    <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                  <div class=" tg-themedropdownmenu dropdown-menu" aria-labelledby="tg-minicart" style="margin: 50px 0 0  -270px;">
                    <div class="tg-minicartbody">
                      <div class="tg-minicarproduct">
                        <figure>
                          <img src="http://exprostudio.com/html/book_library/images/products/img-03.jpg" alt="image description">
                        </figure>
                        <div class="tg-minicarproductdata">
                          <h5><a href="javascript:void(0);">Have Faith In Your Soul</a></h5>
                          <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                        </div>
                      </div>
                    </div>
                    <div class="tg-minicartfoot">
                      <div class="tg-btns">
                        <a class="tg-btn tg-active" href="javascript:void(0);">View Cart</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown tg-themedropdown tg-currencydropdown tg-userlogin" style="height: 60px;">
                  <a href="javascript:void(0);" id="tg-currenty" class="tg-btnthemedropdown " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <figure><a href="javascript:void(0);"><img
                          src="http://exprostudio.com/html/book_library/images/users/img-01.jpg"
                          alt="Profile picture"></a></figure>
                    <span>Hi, Melonie</span>
                  </a>
                  <ul class="tg-themedropdownmenu dropdown-menu " style="margin: 50px 0 0  -100px;">
                    <li>
                      <a [routerLink]="['/security/login']">
                        <span>Log in</span>
                      </a>
                      <a href="javascript:void(0);">
                        <span>My profile</span>
                      </a>
                      <a href="javascript:void(0);">
                        <span>Log out</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
