.dropdown-menu{
  margin-top: 5px !important;
}
.tg-minicarproduct figure{
  height: 100px;
  width: 70px;
  overflow: hidden;
}
.tg-minicarproduct figure img{
  height: 120px;
  margin-top: -30px;
}
.tg-minicarproductdata h5:hover a{
  color: #77B748 !important;
}
