body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    /* border-color: #BA68C8 */
    border-color: #77B748 ;

}

.profile-button {
    /* background: rgb(99, 39, 120); */
    background: #77B748 ;

    box-shadow: none;
    border: none
}

.profile-button:hover {
    /* background: #682773 */
    background: #77B748 ;
}

.profile-button:focus {
    /* background: #682773; */
    background: #77B748 ;

    box-shadow: none
}

.profile-button:active {
    /* background: #682773; */
    background: #77B748 ;

    box-shadow: none
}

.back:hover {
    /* color: #682773; */
    background: #77B748 ;

    cursor: pointer
}

.labels {
    font-size: 11px
}

.btn btn-primary{
    background: #77B748 !important;

}

.add-experience:hover {
    /* background: #BA68C8; */
    background: #77B748 ;

    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.dialog{
    height: 450px;
    overflow-y: scroll;
  }
  .rounded-circle{
    height: 150px;
    width: 150px;
  }
