<app-header></app-header>
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
  style="background-image: url(http://exprostudio.com/html/book_library/images/parallax/bgparallax-07.jpg);background-position: top;background-attachment: fixed;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-innerbannercontent">
          <h1>Books</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!--************************************
    Inner Banner End
*************************************-->
<!--************************************
    Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
  <!--************************************
      News Grid Start
  *************************************-->
  <div class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
            <div id="tg-content" class="tg-content">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
            <aside id="tg-sidebar" class="tg-sidebar">
              <div class="tg-widget tg-catagories">
                <div class="tg-widgettitle">
                  <h3>Categories</h3>
                </div>
                <div class="tg-widgetcontent">
                  <ul>
                    <li *ngFor="let category of bookService.categories"><a (click)="bookService.searchBook(category.name)"><span>{{category.name}}</span><em>{{category.total}}</em></a></li>
                    <li><a (click)="bookService.getAvailableBook()"><span>View All</span></a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--************************************
      News Grid End
  *************************************-->
</main>
<app-footer></app-footer>
