<section class="main_content dashboard_part large_header_bg">



    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
        
        <div class="row">
        <div class="col-12">
        <div class="page_title_box d-flex align-items-center justify-content-between">
        <div class="page_title_left">
        <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
        <!-- <ul class="breadcrumb page_bradcam mb-0">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
        <li class="breadcrumb-item active">Sales</li>
        </ul> -->
        </div>

       

         
                 

       




        <a href="#" class="white_btn3">Create Report</a>
        </div>
        </div>
        </div>
        <div class="row ">
        <div class="col-lg-12 card_height_100">
        <div class="white_card mb_20">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="col-4" style="float: right; display:flex; align-items: center; margin-bottom: 20px;">
                      <label class="col-7">Show statistics by:</label>
                      <select class="col-lg-6" (change)="changePeriod($event)">
                        <option value="monthly">Monthly</option>
                        <option value="annual">Annual</option>
                      </select>
                    </div>
                    <div class="clearfix">
                      <h4 class="card-title float-left">Sales Statistics</h4>
                    </div>
                    <canvas baseChart [data]="reportService.salesData" [type]="'bar'" [options]="reportService.chartOptions">
                    </canvas>
                  </div>
                </div>
              </div>
        
        </div>
       
        </div>
        
      
        
        
       
        
       
      
        
        
       
        
       
       
        
        <div class="col-lg-6">
        <div class="white_card card_height_100 mb_30 ">
        <div class="white_card_header">
        <div class="box_header m-0">
        <div class="main-title">
        <h3 class="m-0">Daily Book Report</h3>
        </div>
        <div class="header_more_tool">
        <div class="dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <i class="ti-more-alt"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
         <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="white_card_body QA_section" style=>
        <div class="QA_table ">
        
        <table class="table lms_table_active2 p-0" id="table">
        <thead>
        <tr>
        <th scope="col">Period</th>
        <th scope="col">Orders</th>
        <th scope="col"> Sales</th>
        <th scope="col"> Fines</th>
        <th scope="col">Book</th>

       
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of reportService.report1">
           
             
             
             
        <td class="f_s_14 f_w_400 color_text_2"> {{report.period}}</td>
        <td class="f_s_14 f_w_400 color_text_3">  {{report.orders}}</td>
        <td class="f_s_14 f_w_400 color_text_4"> {{report.sales}} JD</td>
        <td class="f_s_14 f_w_400 color_text_4"> {{report.fines}} JD</td>
        <td class="f_s_14 f_w_400 color_text_4">   {{report.bookname}} </td>
      
        </tbody>
        <tfoot>
            <tr>
              <td class="f_s_14 f_w_400 color_text_2">Total</td>
              <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalOrders}}</td>
              <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalSales}} JD</td>
              <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalFines}} JD</td>
              <td class="f_s_14 f_w_400 color_text_2"></td>

            </tr>
          </tfoot>
        </table>
        </div>
        <br>

        <div style="float: right;">
          <div style="display: flex; gap: 20px;">
            <button class="btn btn-dark" (click)="downloadAsDailyPdf()"
              style="display: flex; align-items: center;padding: 10px 20px;">
              <mat-icon>cloud_download</mat-icon> PDF
            </button>
            <button class="btn btn-dark" (click)="exportexcelDaily()"
              style="display: flex; align-items: center;padding: 10px 20px;">
              <mat-icon> cloud_download</mat-icon> Excel
            </button>
          </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="white_card card_height_100 mb_20 ">
        <div class="white_card_header">
        <div class="box_header m-0">
        <div class="main-title">
        <h3 class="m-0">Monthly Book Report</h3>
        </div>
        <div class="header_more_tool">
        <div class="dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <i class="ti-more-alt"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="white_card_body QA_section">
            <div class="QA_table ">
            
            <table class="table lms_table_active2 p-0" id="table2">
            <thead>
            <tr>
            <th scope="col">Period</th>
            <th scope="col">Orders</th>
            <th scope="col"> Sales</th>
            <th scope="col"> Fines</th>
            <th scope="col">Book</th>
    
           
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let report of reportService.report2">
               
                 
                 
                 
            <td class="f_s_14 f_w_400 color_text_2"> {{report.period}}</td>
            <td class="f_s_14 f_w_400 color_text_3">  {{report.orders}}</td>
            <td class="f_s_14 f_w_400 color_text_4"> {{report.sales}} JD</td>
            <td class="f_s_14 f_w_400 color_text_4"> {{report.fines}} JD</td>
            <td class="f_s_14 f_w_400 color_text_4">   {{report.bookname}} </td>
          
            </tbody>
            <tfoot>
                <tr>
                  <td class="f_s_14 f_w_400 color_text_2">Total</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalOrders}}</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalSales}} JD</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalFines}} JD</td>
                  <td class="f_s_14 f_w_400 color_text_2"></td>
    
                </tr>
              </tfoot>
            </table>
            </div>
            <br>
    
            <div style="float: right;">
              <div style="display: flex; gap: 20px;">
                <button class="btn btn-dark" (click)=" downloadAsMonthlyPdf()"
                  style="display: flex; align-items: center;padding: 10px 20px;">
                  <mat-icon>cloud_download</mat-icon> PDF
                </button>
                <button class="btn btn-dark" (click)=" exportexcelMonthly()"
                  style="display: flex; align-items: center;padding: 10px 20px;">
                  <mat-icon> cloud_download</mat-icon> Excel
                </button>
              </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="white_card card_height_100 mb_20 ">
        <div class="white_card_header">
        <div class="box_header m-0">
        <div class="main-title">
        <h3 class="m-0">Annual Book Report</h3>
        </div>
        <div class="header_more_tool">
        <div class="dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <i class="ti-more-alt"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
        <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
        <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
        <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
        <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="white_card_body QA_section" style=>
            <div class="QA_table ">
            
            <table class="table lms_table_active2 p-0" id="table3">
            <thead>
            <tr>
            <th scope="col">Period</th>
            <th scope="col">Orders</th>
            <th scope="col"> Sales</th>
            <th scope="col"> Fines</th>
            <th scope="col">Book</th>
    
           
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let report of reportService.report3">
               
                 
                 
                 
            <td class="f_s_14 f_w_400 color_text_2"> {{report.period}}</td>
            <td class="f_s_14 f_w_400 color_text_3">  {{report.orders}}</td>
            <td class="f_s_14 f_w_400 color_text_4"> {{report.sales}} JD</td>
            <td class="f_s_14 f_w_400 color_text_4"> {{report.fines}} JD</td>
            <td class="f_s_14 f_w_400 color_text_4">   {{report.bookname}} </td>
          
            </tbody>
            <tfoot>
                <tr>
                  <td class="f_s_14 f_w_400 color_text_2">Total</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalOrders}}</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalSales}} JD</td>
                  <td class="f_s_14 f_w_400 color_text_2">{{this.reportService.totalFines}} JD</td>
                  <td class="f_s_14 f_w_400 color_text_2"></td>
    
                </tr>
              </tfoot>
            </table>
            </div>
            <br>
    
            <div style="float: right;">
              <div style="display: flex; gap: 20px;">
                <button class="btn btn-dark" (click)="downloadAsAnnoulPdf()"
                  style="display: flex; align-items: center;padding: 10px 20px;">
                  <mat-icon>cloud_download</mat-icon> PDF
                </button>
                <button class="btn btn-dark" (click)=" exportexcelAnnoul()"
                  style="display: flex; align-items: center;padding: 10px 20px;">
                  <mat-icon> cloud_download</mat-icon> Excel
                </button>
              </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="white_card card_height_100 mb_20 ">
        <div class="white_card_header">
        <div class="box_header m-0">
        <div class="main-title">
        <h3 class="m-0">Market valus</h3>
        </div>
        <div class="single_wrap_input">
        <select class="nice_Select2 wide" name="" id="">
        <option value="1">year</option>
        <option value="1">month</option>
        <option value="1">day</option>
        </select>
        </div>
        </div>
        </div>
        <div class="white_card_body QA_section">
        <div class="radar-chart">
        <div id="marketchart"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    
    
    
    <!-- <div class="footer_part">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <div class="footer_iner text-center">
    <p>2020 © Influence - Designed by <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Dashboard</a></p>
    </div>
    </div>
    </div>
    </div>
    </div> -->
</section>