td a{
    cursor: pointer;
  }
  td img{
    height: 100px;
    width: auto;
    border-radius: 0;
  }
  .nothing{
    text-align: center;
    font-size: 24px;
    padding: 50px 0;
  }
  .bubble {
    position: relative;
      display: flex;
      gap:30px;
      overflow: hidden;
      background: linear-gradient(to right ,rgb(255, 255, 255) 50%,rgba(0, 213, 228, 0.521));
  }
  svg {
    position: absolute;
    left: -5px;
    top: -100px;
    transform: rotate(180deg);
    fill: #51ccbc;
  }
  thead tr th{
    background-color: #9bb39e;
    color:rgb(32, 32, 32);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  