.dialog{
  height: 450px;
  overflow-y: scroll;
}
.col-form-label{
  font-weight: 600;
}
small{
  color: rgb(105, 105, 105);
}
td a{
  cursor: pointer;
}
td img{
  height: 100px;
  width: auto;
  border-radius: 0;
}
.nothing{
  text-align: center;
  font-size: 24px;
  padding: 50px 0;
}
.bubble {
  position: relative;
    display: flex;
    gap:30px;
    overflow: hidden;
    background: linear-gradient(to right ,rgb(255, 255, 255) 50%,rgba(0, 213, 228, 0.521));
}
svg {
  position: absolute;
  left: -5px;
  top: -100px;
  transform: rotate(180deg);
  fill: #51ccbc;
}
thead tr th{
  background-color: #51ccbc;
  color:rgb(32, 32, 32);
  padding-top: 10px;
  padding-bottom: 10px;
}

select
{
  color: rgb(53, 53, 53);
}
.file input{
  padding-top: 10px;
}
