<app-header></app-header>
<div class="tg-haslayout">
  <div class=" tg-innerbanner tg-bginnerbanner"
    style="background-image: url(http://exprostudio.com/html/book_library/images/parallax/bgparallax-07.jpg);background-position: top;background-attachment: fixed;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-innerbannercontent">
          <h1>Testimonial</h1>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="createtestimonial">
    <div class="form-all">
      <ul class="form-section page-section">
        <li style="list-style-type: none;">
          <div class="form-header-group">
            <div class="header-text">
              <h1 class="form-header">
                Testimonial Form
              </h1>
            </div>
          </div>
        </li>
        <li class="form-line" style="padding-right: 37px;">
          <label class="form-label form-label-left">
            Name
            <span class="form-required">
              *
            </span>
          </label>
              <mat-form-field hideRequiredMarker class="form-input">
                <input type="text" matInput formControlName="name" class="form-textbox"/>
                <mat-label class="form-sub-label"> Name </mat-label>
                <mat-error
                  *ngIf="createtestimonial.controls['name'].touched && createtestimonial.controls['name'].hasError('required')"
                  class="form-required">
                  Name is <strong class="form-required">required</strong>
                </mat-error>
              </mat-form-field>
        </li>
        <li class="form-line">
          <label class="form-label form-label-left">
            Your Testimonial
            <span class="form-required">
              *
            </span>
          </label>
          <mat-form-field hideRequiredMarker class="form-input">
            <textarea matInput formControlName="testimonial" class="form-textarea" style="height:163px"></textarea>
            <mat-label class="form-sub-label"> Your testimonial... </mat-label>

            <mat-error
              *ngIf="createtestimonial.controls['testimonial'].touched && createtestimonial.controls['testimonial'].hasError('required')"
              class="form-required">
              Testimonial is <strong class="form-required">required</strong>
            </mat-error>
          </mat-form-field>
        </li>
        <li class="form-line">
          <label class="form-label form-label-left form-label-auto">
            Rate Us
            <span class="form-required">
              *
            </span>
          </label>
          <div class="form-input">
            <br>
            <input class="rating" max="5" oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
              step="0.5" style="--value:5" type="range" value="5">
          </div>
        </li>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-sm-12">
                <button class="btn btn-success col-sm-12" [disabled]="!createtestimonial.valid"
                  (click)="submit()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </form>
</div>

<app-footer></app-footer>
