<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body table-responsive">
      <h4 class="card-title ">Manage Borrowings</h4>
      <div style="float: right;">
        <input class="card-description" type="text"  #search placeholder="Search by book or student" (input)="searchLoans($event)" >
         <p class="advance" (click)="openSearchUsingDate()">advanced search...</p>
      </div>
      <table class="table table-striped" id="table">
        <thead>
          <tr>
            <th> Loan Id</th>
            <th> Book Name </th>
            <th> Student Name </th>
            <th> Price </th>
            <th> Start Date </th>
            <th> End Date </th>
            <th> Fines </th>
            <th> Status </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody [ngStyle]="{'display': loans.length == 0 && search.value ? 'none' : ''}">
          <tr *ngFor="let borrow of loans.length == 0 ? loanService.loans : loans ">
            <td> {{borrow.id}} </td>
            <td> {{borrow.book_Name}} </td>
            <td> {{borrow.student_Name}} </td>
            <td> {{borrow.price}} </td>

            <td> {{borrow.start_Date | date:'dd-MM-yyyy'}} </td>
            <td> {{borrow.end_Date | date:'dd-MM-yyyy'}} </td>
            <td> {{borrow.fines}} </td>
            <td style="font-weight: 500;" [ngStyle]="{'color': borrow.isloaned == 'false'?'gray':'green'}"> {{borrow.isloaned != 'false'? 'Active' : "Closed"}} </td>
            <td>
              <a class="link" [ngStyle]="{'display': borrow.isloaned == 'false'?'none':''}" (click)="openChangeStatus(borrow)">End loan</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(loans.length == 0 && search.value) || loanService.loans.length == 0">
        <p class="nothing">Sorry, no books with this name were found.</p>
      </div>
      <br>
        <div class="col-3" style="float: right;" *ngIf="!(loans.length == 0 && search.value)">
          <div style="display: flex; gap: 20px;">
            <button class="btn btn-dark" (click)="downloadAsPdf()" style="display: flex; align-items: center;padding: 10px 20px;"> <mat-icon>cloud_download</mat-icon> PDF </button>
          <button class="btn btn-dark" (click)="exportexcel()"  style="display: flex; align-items: center;padding: 10px 20px;">
            <mat-icon> cloud_download</mat-icon> Excel
          </button>
          </div>
        </div>
    </div>
  </div>
</div>
<ng-template #change>
  <div class="col-12 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Are you sure you want to update the status of this item?</h4>
        <div class="row">
          <div class="col-md-9 ">
            <button mat-button mat-dialog-close class="btn btn-primary">No,take me back</button>
            <button mat-button mat-dialog-close class="btn btn-success" style="float: right;"
              (click)="changeStatus()">Sure</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #searchInterval>
  <div class="col-12 ">
    <div class="card">
      <form class="card-body" [formGroup]="serachDates">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label"><span class="text-danger">Important:</span> The start and end date should be like (10/10/2020)</label>
                <mat-form-field appearance="fill">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input  [rangePicker]="picker">
                    <input type="sss" matStartDate placeholder="Start date" matInput formControlName="start_Date">
                    <input type="sss" matEndDate placeholder="End date"  matInput formControlName="end_Date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <mat-error class="text-danger"
                  *ngIf="serachDates.controls['start_Date'].hasError('required') && serachDates.controls['start_Date'].touched">
                  Start Date is <strong class="text-danger">required</strong>
                </mat-error>
                <mat-error class="text-danger"
                  *ngIf="serachDates.controls['end_Date'].hasError('required') && serachDates.controls['end_Date'].touched">
                  End Date is <strong class="text-danger">required</strong>
                </mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 ">
            <button mat-button mat-dialog-close class="btn btn-success"
              [disabled]="!serachDates.valid" (click)="searchByDates()">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

