td a{
  cursor: pointer;
}
.nothing{
  text-align: center;
  font-size: 24px;
  padding: 50px 0;
}

thead tr th{
  background-color: rgba(77, 175, 64, 0.555);
  color:rgb(32, 32, 32);
  padding-top: 10px;
  padding-bottom: 10px;
}
