.dialog{
  height: 450px;
  overflow-y: scroll;
}
.col-form-label{
  font-weight: 600;
}
small{
  color: rgb(105, 105, 105);
}
td a{
  cursor: pointer;
}
td img{
  height: 70px;
  width: 70px;
  border-radius: 0;
}
.nothing{
  text-align: center;
  font-size: 24px;
  padding: 50px 0;
}
  /* .advance{
    color: rgb(0, 204, 204);
    margin-top: -18px;
    padding-left: 15px;
    font-size: 13px;
    cursor: pointer;
  }
  .advance:hover{
    color: rgb(0, 160, 160);
    text-decoration: underline;
  } */

