<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body table-responsive">
      <h4 class="card-title">Manage Students</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Name </th>
            <th>Testimonial</th>
            <th> Student name</th>
            <th> Status </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of testimonial.testsss">
            <td> {{test.name}} </td>
            <td> {{test. testimonial}} </td>
            <td> {{studentname(test.student_Id)}} </td>
            <td style="font-weight: 500;" [ngStyle]="{'color': test.publishing == 'false'?'gray':'green'}">
              {{test.publishing != 'false'? 'Rejection' : "publishing"}} </td>
            <td>
              <a class="link" [ngStyle]="{'display': test.publishing == 'false'?'none':''}"
                (click)="openChangeStatus(test)">publishing Testimonial</a>
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</div>

<ng-template #change>
  <div class="col-12 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Are you sure you want to update the status of this item?</h4>
        <div class="row">
          <div class="col-md-9 ">
            <button mat-button mat-dialog-close class="btn btn-primary">No,take me back</button>
            <button mat-button mat-dialog-close class="btn btn-success" style="float: right;"
              (click)="changeStatus()">Sure</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
