
.ngx-pagination{
  margin: 0 auto;
}
.ngx-pagination .current
{
  background-color: #429e00 !important;
}
.ngx-pagination li{
  transition:background 1s;
}
.tg-sectionspace .carousel-arrow-prev{
  margin-right: 50px !important;
}


