<section class="main_content dashboard_part large_header_bg">

    <div class="container-fluid p-0 ">
    <div class="main_content_iner overly_inner ">

    <div class="row">
    <div class="col-12">
    <div class="page_title_box d-flex align-items-center justify-content-between">
    <div class="page_title_left">
    <h2 class="f_s_30 f_w_700 text_white">Students Informations</h2>

    </div>
    <a href="" class="white_btn3">Create Report</a>
    </div>
    </div>
    </div>



    <div class="row ">
        <div class="col-lg-12 card_height_100">
        <div class="white_card mb_20">
        <div class="white_card_header">
        <div class="box_header m-0">



            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body table-responsive">
                     <!-- <h4 class="card-title">Students Information</h4>  -->
            
                    <input type="text" style="float: right;" #search placeholder="Search student by name"
                      (input)="searchStudent($event)">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Image </th>
                          <th> Student Name </th>
                          <th> Username </th>
                          <th> Email </th>
                          <th> BirthDate </th>
                        </tr>
                      </thead>
                      <tbody [ngStyle]="{'display': students.length == 0 && search.value ? 'none' : ''}">
              
                        <tr *ngFor="let student of students.length == 0 ? studentService.login : students">
                          <td class="py-1">
                            <img src="../../../assets/Images/{{student.image}}" style="border-radius: 50%;" alt="image" />
                          </td>
                          <td> {{studentFirstName(student.id)+ ' '+ studentLastName(student.id)}}</td>
                          <td> {{student.username}} </td>
                          <td> {{student.email}} </td>
                          <td> {{student.birthday | date:'longDate'}} </td>
            
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="students.length == 0 && search.value">
                      <p class="nothing">Sorry, no students with this name were found.</p>
                    </div>
                  </div>
                </div>
            </div>








        </div>
        </div>
        </div>
        </div>
    </div>
        


    </div>
    </div>

</section>











<!-- <div class="col-lg-12 grid-margin stretch-card">
<div class="card">
  <div class="card-body table-responsive">
     <h4 class="card-title">Students Information</h4> 

    <input type="text" style="float: right;" #search placeholder="Search student by name"
      (input)="searchStudent($event)">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Image </th>
          <th> Student Name </th>
          <th> Username </th>
          <th> Email </th>
          <th> BirthDate </th>
        </tr>
      </thead>
      <tbody [ngStyle]="{'display': students.length == 0 && search.value ? 'none' : ''}">

        <tr *ngFor="let student of students.length == 0 ? studentService.login : students">
          <td class="py-1">
            <img src="../../../assets/Images/{{student.image}}" style="border-radius: 50%;" alt="image" />
          </td>
          <td> {{studentFirstName(student.id)+ ' '+ studentLastName(student.id)}}</td>
          <td> {{student.username}} </td>
          <td> {{student.email}} </td>
          <td> {{student.birthday | date:'longDate'}} </td>

        </tr>
      </tbody>
    </table>
    <div *ngIf="students.length == 0 && search.value">
      <p class="nothing">Sorry, no students with this name were found.</p>
    </div>
  </div>
</div>
</div>  -->
