<app-header></app-header>
<div class="carousel slide home-slider" id="carouselExampleCaptions" data-ride="carousel">
  <div class="carousel-inner">
    <ngb-carousel >
      <ng-template ngbSlide *ngFor="let slider of sliderService.data">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/Images/{{slider.image}}"  alt="{{slider.image}}"/>
          <div class="carousel-caption d-none d-md-block" style="margin-bottom: 100px !important;">
            <div class="tg-slidercontent">
              <h1 style="color: #fff; font-weight: 500;">{{slider.title}}</h1>
              <div class="tg-description">
                <p style="color: #fff;">{{slider.sub_Title}}</p>
              </div>
              <div class="tg-btns">
                <a class="tg-btn tg-active" href="{{slider.url}}">buy now</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </ngb-carousel>
 </div>

<main id="tg-main" class="tg-main tg-haslayout">
  <!--************************************
      Best Selling Start
  *************************************-->
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-sectionhead">
            <h2><span>People’s Choice</span>Bestselling Books</h2>
            <a class="tg-btn" [routerLink]="['/books']">View All</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <carousel [loop]="true" [cellsToScroll]="1"  class="tg-bestsellingbooksslider tg-bestsellingbooks" style="min-height: 550px;">
            <div class="item carousel-cell " *ngFor="let item of bookService.books" >
              <div class="tg-postbook">
                <figure class="tg-featureimg" >
                  <a class="tg-bookimg"  >
                    <div class="tg-frontcover"><img  src="../../assets/Images/{{item.image}}" alt="{{item.book_Name}}"></div>
                    <div class="tg-backcover" ><img  src="../../assets/Images/{{item.image}}" alt="{{item.book_Name}}"></div>
                  </a>
                  <a class="tg-btnaddtowishlist" [routerLink]="['/books',item.id]">
                    <i class="icon-heart"></i>
                    <span>More details</span>
                  </a>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a class="blue" >{{item.category}}</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a class="blue" >{{item.book_Name}}</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a class="blue" >{{item.author}}</a></span>
                  <input class="rating" *ngIf="getRate(item.id)" style="--value:{{getRate(item.id)}}" type="range" readonly [value]="getRate(item.id)">
                  <span class="tg-bookprice">
                    <ins>{{item.price}} JD</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" (click)="borrow(item.id)" >
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 tg-newrelease">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="tg-sectionhead">
              <h2><span>Taste The New Spice</span>New Release Books</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
            </div>
            <div class="tg-btns">
              <a class="tg-btn tg-active" [routerLink]="['/books']">View All</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="tg-newreleasebooks">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4" *ngFor="let book of bookService.newestBooks">
                  <div class="tg-postbook">
                    <figure class="tg-featureimg">
                      <a class="tg-bookimg" >
                        <div class="tg-frontcover"><img src="../../assets/Images/{{book.image}}" alt="{{book.book_Name}}"></div>
                        <div class="tg-backcover"><img src="../../assets/Images/{{book.image}}" alt="{{book.book_Name}}"></div>
                      </a>
                      <a class="tg-btnaddtowishlist" [routerLink]="['/books',book.id]">
                        <i class="icon-heart"></i>
                        <span>More details</span>
                      </a>
                    </figure>
                    <div class="tg-postbookcontent">
                      <ul class="tg-bookscategories">
                        <li><a >{{book.category}}</a></li>
                      </ul>
                      <div class="tg-booktitle">
                        <h3><a  >{{book.book_Name}}</a></h3>
                      </div>
                      <span class="tg-bookwriter">By: <a>{{book.author}}</a></span>
                      <input class="rating" *ngIf="getRate(book.id)"  style="--value:{{getRate(book.id)}}" type="range" readonly [value]="getRate(book.id)">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
