<app-header></app-header>
<div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"><img class="d-block w-100" src="http://exprostudio.com/html/book_library/images/slider/img-03.jpg" alt="..."/>
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 100px !important;">
        <div class="tg-slidercontent">
          <h1 style="color: #fff;">Search your favourite Book</h1>
          <div class="tg-description">
            <p>Consectetur adipisicing elit eiusmod lotanae pokalate sinote tempor incididunt ut labore popouye asoter.</p>
          </div>
          <div class="tg-btns">
            <a class="tg-btn tg-active" href="javascript:void(0);">buy now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="d-block w-100" src="http://exprostudio.com/html/book_library/images/slider/img-03.jpg" alt="..."/>
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 100px !important;">
        <div class="tg-slidercontent">
          <h1 style="color: #fff;">Search your favourite Book</h1>
          <div class="tg-description">
            <p>Consectetur adipisicing elit eiusmod lotanae pokalate sinote tempor incididunt ut labore popouye asoter.</p>
          </div>
          <div class="tg-btns">
            <a class="tg-btn tg-active" href="javascript:void(0);">buy now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"><img class="d-block w-100" src="http://exprostudio.com/html/book_library/images/slider/img-03.jpg" alt="..."/>
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 100px !important;">
        <div class="tg-slidercontent">
          <h1 style="color: #fff;">Search your favourite Book</h1>
          <div class="tg-description">
            <p>Consectetur adipisicing elit eiusmod lotanae pokalate sinote tempor incididunt ut labore popouye asoter.</p>
          </div>
          <div class="tg-btns">
            <a class="tg-btn tg-active" href="javascript:void(0);">buy now</a>
          </div>
        </div>
      </div>
    </div>
  </div><a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
  <!--************************************
      Best Selling Start
  *************************************-->
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-sectionhead">
            <h2><span>People’s Choice</span>Bestselling Books</h2>
            <a class="tg-btn" href="javascript:void(0);">View All</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <carousel [loop]="false" [cellsToScroll]="1"  class="tg-bestsellingbooksslider tg-bestsellingbooks" style="min-height: 550px;">
            <div class="item carousel-cell "  >
              <div class="tg-postbook">
                <figure class="tg-featureimg"  >
                  <div class="tg-bookimg" >
                    <div class="tg-frontcover"><img  src="http://exprostudio.com/html/book_library/images/books/img-01.jpg" alt="image description"></div>
                    <div class="tg-backcover" ><img  src="http://exprostudio.com/html/book_library/images/books/img-01.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Help Me Find My Stomach</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell" >
              <div class="tg-postbook">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-01.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-01.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Help Me Find My Stomach</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell">
              <div class="tg-postbook">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-02.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-02.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Drive Safely, No Bumping</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell">
              <div class="tg-postbook tg-notag">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-03.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-03.jpg" alt="image description"></div>
                  </div>

                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Let The Good Times Roll Up</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell">
              <div class="tg-postbook tg-notag">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-03.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-03.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Let The Good Times Roll Up</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell">
              <div class="tg-postbook">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-04.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-04.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Our State Fair Is A Great State Fair</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
            <div class="item carousel-cell">
              <div class="tg-postbook">
                <figure class="tg-featureimg">
                  <div class="tg-bookimg">
                    <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-04.jpg" alt="image description"></div>
                    <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-04.jpg" alt="image description"></div>
                  </div>
                </figure>
                <div class="tg-postbookcontent">
                  <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">Adventure</a></li>
                    <li><a href="javascript:void(0);">Fun</a></li>
                  </ul>
                  <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">Our State Fair Is A Great State Fair</a></h3>
                  </div>
                  <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                  <span class="tg-stars"><span></span></span>
                  <span class="tg-bookprice">
                    <ins>$25.18</ins>
                  </span>
                  <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Borrow</em>
                  </a>
                </div>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-bglight tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-featureditm">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
            <figure><img src="http://exprostudio.com/html/book_library/images/img-02.png" alt="image description"></figure>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="tg-featureditmcontent">
              <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
              <div class="tg-booktitle">
                <h3><a href="javascript:void(0);">Things To Know About Green Flat Design</a></h3>
              </div>
              <span class="tg-bookwriter">By: <a href="javascript:void(0);">Farrah Whisenhunt</a></span>
              <span class="tg-stars"><span></span></span>
              <div class="tg-priceandbtn">
                <span class="tg-bookprice">
                  <ins>$23.18</ins>
                  <del>$30.20</del>
                </span>
                <a class="tg-btn tg-btnstyletwo tg-active" href="javascript:void(0);">
                  <i class="fa fa-shopping-basket"></i>
                  <em>Add To Basket</em>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-newrelease">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="tg-sectionhead">
              <h2><span>Taste The New Spice</span>New Release Books</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
            </div>
            <div class="tg-btns">
              <a class="tg-btn tg-active" href="javascript:void(0);">View All</a>
              <a class="tg-btn" href="javascript:void(0);">Read More</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="tg-newreleasebooks">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                  <div class="tg-postbook">
                    <figure class="tg-featureimg">
                      <div class="tg-bookimg">
                        <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-07.jpg" alt="image description"></div>
                        <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-07.jpg" alt="image description"></div>
                      </div>
                      <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                        <i class="icon-heart"></i>
                        <span>Borrow</span>
                      </a>
                    </figure>
                    <div class="tg-postbookcontent">
                      <ul class="tg-bookscategories">
                        <li><a href="javascript:void(0);">Adventure</a></li>
                        <li><a href="javascript:void(0);">Fun</a></li>
                      </ul>
                      <div class="tg-booktitle">
                        <h3><a href="javascript:void(0);">Help Me Find My Stomach</a></h3>
                      </div>
                      <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                      <span class="tg-stars"><span></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                  <div class="tg-postbook">
                    <figure class="tg-featureimg">
                      <div class="tg-bookimg">
                        <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-08.jpg" alt="image description"></div>
                        <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-08.jpg" alt="image description"></div>
                      </div>
                      <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                        <i class="icon-heart"></i>
                        <span>Borrow</span>
                      </a>
                    </figure>
                    <div class="tg-postbookcontent">
                      <ul class="tg-bookscategories">
                        <li><a href="javascript:void(0);">Adventure</a></li>
                        <li><a href="javascript:void(0);">Fun</a></li>
                      </ul>
                      <div class="tg-booktitle">
                        <h3><a href="javascript:void(0);">Drive Safely, No Bumping</a></h3>
                      </div>
                      <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                      <span class="tg-stars"><span></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4 hidden-md">
                  <div class="tg-postbook">
                    <figure class="tg-featureimg">
                      <div class="tg-bookimg">
                        <div class="tg-frontcover"><img src="http://exprostudio.com/html/book_library/images/books/img-09.jpg" alt="image description"></div>
                        <div class="tg-backcover"><img src="http://exprostudio.com/html/book_library/images/books/img-09.jpg" alt="image description"></div>
                      </div>
                      <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                        <i class="icon-heart"></i>
                        <span>Borrow</span>
                      </a>
                    </figure>
                    <div class="tg-postbookcontent">
                      <ul class="tg-bookscategories">
                        <li><a href="javascript:void(0);">Adventure</a></li>
                        <li><a href="javascript:void(0);">Fun</a></li>
                      </ul>
                      <div class="tg-booktitle">
                        <h3><a href="javascript:void(0);">Let The Good Times Roll Up</a></h3>
                      </div>
                      <span class="tg-bookwriter">By: <a href="javascript:void(0);">Elisabeth Ronning</a></span>
                      <span class="tg-stars"><span></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
