<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-footerarea">
    <div class="container">
      <div class="row">
        <div class="tg-threecolumns">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-footercol">
              <strong class="tg-logo"><a [routerLink]="['/home']"></a>
                {{website.header.title}}
                <br>
                <br>
                    <img src="../../../assets/adminassets/images/{{website.header.logo}}" alt="image" width="70%" height="50px" class="logo"/>
                  </strong>            
            <div class="tg-contactinfo">{{website.footer.small_Desc}}</div>
              <ul class="tg-socialicons">
                <li class="tg-facebook"><a href="https://www.facebook.com/">{{website.footer.facebook}}<i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="tg-twitter"><a href="https://twitter.com/i/flow/login">{{website.footer.twitter}}<i class="fa fa-twitter"></i></a></li>
                <li class="tg-linkedin"><a href="https://www.instagram.com/accounts/login/">{{website.footer.instagram}}<i class="fa fa-instagram"></i></a></li>
                <!--<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-footercol">
              <div class="tg-widgettitle">
                <h3>Get In Touch</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul class="tg-contactinfo">
                  <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <em>{{website.contact.addresses}}</em>
                  </li>
                  <li>
                    <i class="fa-solid fa-phone"></i>
                    <span>
                      <em>{{website.contact.numbers}}</em>
                    </span>
                  </li>
                <!--<li>
                    <i class="fa-solid fa-clock"></i>
                    <span>{{website.contact.sub_Title}}</span>
                  </li> -->
                  <li>
                 
                    <i class="fa-solid fa-envelope"></i>
                    <span>
                      <em><a href="mailto:{{website.contact.email}}">{{website.contact.email}}</a></em>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-footercol tg-widget tg-widgetnavigation">
              <div class="tg-widgettitle">
                <h3>Useful Links</h3>
              </div>
              <div class="tg-widgetcontent">
                <ul>
                  <li><a href="javascript:void(0);">Terms of Use</a></li>
                  <li><a href="javascript:void(0);">Privacy</a></li>
                  <li><a href="javascript:void(0);">Security</a></li>
                </ul>
                <ul>
                  <li><a href="javascript:void(0);">FAQ</a></li>
                  <li><a [routerLink]="['/client/testimonial']">Testimonials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <a class="tg-btnbacktotop" (click)="topFunction()" style="cursor: pointer;"><i class="fa-solid fa-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <span class="tg-copyright">2017 All Rights Reserved By &copy; Book Library</span>
        </div>
      </div>
    </div>
  </div>
</footer>
